# Json contendo as credenciais
creadentials.json

# Ambiente virtual
venv/
.env/
.venv/

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de dados que não precisam ir pro git
*.xlsx
*.xls
*.json
*.html
*.zip